@font-face {
  font-family: Montserat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  font-family: Montserat;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1165px;
  margin: 0 auto;
}
.header {
  width: 100%;
  position: absolute;
  padding-top: 40px;

  &__wrap {
    display: flex;
    justify-content: center;
  }
  &__elems {
    display: flex;
    justify-content: center;
  }
  &__icons {
    display: flex;
    justify-content: center;
  }
  &__btns {
    display: flex;
    justify-content: center;
  }
  &__search {
    margin-right: 40px;
  }
  &__logo {
    margin-right: 1200px;
  }
  &__btn {
    background-color: #156963;
    padding: 8px 33px;
  }
}

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  background-color: #156963;
  padding: 8px 33px;
  &_w {
    color: #156963;
    background-color: #fff;
  }
}
.main {
  &__wrap {
    display: flex;
    gap: 77px;
    align-items: end;
  }
  &__title {
    color: #156963;
    font-size: 68px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  &__text {
    color: #2c1500;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 110px;
  }
  &__texts {
    max-width: 523px;
  }
  &__btns {
    display: flex;
  }

  &__btn {
    width: 320px;
    padding: 40px 50px;
    &-subtitle {
      color: #333;
      font-size: 32px;
      font-weight: 500;
      display: flex;
      margin-bottom: 12px;
      &_p::before {
        content: "";
        display: block;
        position: absolute;
        height: 32px;
        width: 32px;
        margin-right: 9px;
      }
      &_n::after {
        content: "";
        display: block;
        position: absolute;
        height: 32px;
        width: 32px;
        margin-left: 9px;
      }
    }
    &-text {
      color: #fff;
      font-size: 32px;
      font-weight: 500;
    }
  }
}
.adventages{
    &__text{
        font-size: 10px;
        color: #2C1500;
        font-weight: 400;
    }
    &__card{
        display: flex;
        gap: 32px;
        margin-left: 72px;
        margin-top: 142px;
    }
    &__text_pic{
        display: flex;
    }
    &__block{
        background-color: #fff;
        border: 1px solid #E0E0E0;
        padding: 22px 16px;
    }
}
.kaktuses {
  margin: 80px  56px;

  &__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid #E0E0E0;
}
  &__button_text_2{
    display: flex;
  }
  &__button_text_arrow{
    margin-top: -2.5px;
    margin-left: 10px;
  }
  &__button_text_2{
    background-color: #fff;
    padding: 8px 12px;
    border-color: #E0E0E0;
    border: 1;
  }
  &__full{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  &__pic{
    margin-bottom: 16px;
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text_title{
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
  }
  &__text_pic{
    display: flex;
  }
  &__cont{
    max-width: 1168px;
    margin-left: 56px;
  }
}
.plants{
  margin-left: 58px;
    &__item{
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 16px;
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        color: #2C1500;
    }
    &__texts_pic{
      display: flex;
      flex-direction: column;
    }
    &__cont{
      display: flex;
      gap: 96px;
    }
    &__pic1{
      margin-top: 140px;
    }
}
.visit{
  &__cont{
  background: url('../img/visit.svg') center center;
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 80px;
  height: 360px;
  }
  &__text{
    padding-top: 88px;
    margin-left: 97px;
  }
  &__title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 32px;
  }
  &__button{
    color: #2C1500;
    font-size: 14px;
    background-color: #156963;
    padding: 10px 42px;
    max-width: 80px;
  }
}
.futter{
  background-color: #fff;
  border-top: 1px solid #E0E0E0;
  margin-top: 80px;
  &__texts{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 71px;
  }
  &__address_title{
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #156963;
    margin-bottom: 24px;
  }
  &__address_subtitle{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__address{
    font-weight: 400;
    font-size: 13px;
    color: #4F4F4F;
  }
  &__windows_title{
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__windows_text{
    font-weight: 400;
    font-size: 14px;
  }
  &__registr_title{
    font-size: 16px;
    margin-bottom: 14px;
  }
  &__registr_email{
    max-width: 234px;
    margin-bottom: 14px;
  }
  &__registr_button{
    color: #fff;
    font-size: 8px;
    background-color: #156963;
    padding: 4px 12px;
    border-radius: 2px;
    max-width: 51px;
  }
}



